* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: yellow;
    color: #ffffff;
}

body {
    background-color: black;
}

.navbar >img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  


.home > img {
    width: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    color: black;
    display: inline-block;
    background-position: center;
}

.centered {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-size: 100px;
  }


.workouts_row {
    height: 5%;
    width: 10%;
    padding: 5px;
    display: inline-block;
}

/* .workouts1 {
    height: 5%;
    width: 10%;
    padding: 5px;
    float: right;
    display: inline-block;
} */




.map {
    height: 400px;
    width: 600px;
}




.challenges {
    height: 5%;
    width: 10%;
    padding: 5px;
    float: left;
    display: inline-block;
}

.locations {
    height: 5%;
    width: 5%;
    padding: 5px;
    float: left;
    display: inline-block;
}